*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    padding: 81px 30px;
    margin: auto;
}
.container{
    width: 320px;
    height: 500px;
    background-color: var(--White);
    border: 1px solid;
}